body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    width: 500px;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
    text-align: center;
    text-shadow: 0 4px 8px rgba(0,0,0,0.5);
    margin-bottom: 20px;
}

.image {
    text-align: center;
    margin-bottom: 20px;
}

.image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5)
}

h6 {
    font-size: 0.7em;
    text-align: center;
    margin-top: -5px;
    margin-bottom: 20px;
    font-weight: normal;
}

.content {
    margin-bottom: 20px;
}

p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

.ingredients, .steps {
    margin-bottom: 20px;
    background-color: #f2ebe6;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1)
}

ul, ol {
    margin-left: 20px;
    margin-bottom: 20px;
}

li {
    margin-bottom: 10px;
}