body {
    font-family: 'Pacifico', cursive, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: mintcream; /* Mint Green */
    color: #000; /* Black */
}

.container {
    background-color: #e0ffff; /* Powder Blue */
    padding: 20px 40px;
    border-radius: 10px;
    border: 3px solid teal;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 800px;
    margin: 40px auto;
}

.recipes {
    padding: 16px;
    margin: 8px auto;
}

h1 {
    color:#0D5C63;
    font-family: 'Lobster', cursive;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color:#fff8dc;
    margin: 10px 0;
    padding: 16px 8px;
    border: 2px solid #f08080; /* Light Coral */
    border-radius: 9px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

a {
    font-size: 1.2em;
    color: teal;
    text-decoration: none;
    transition: color 0.3s, transform 0.3s;
}

a:link, a:visited {
    color: #ff6347; /* Tomato Red */
}

a:hover {
    color: teal;
    transform: scale(1.05)
}